.layout {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
}

.nav {
  position: fixed;
  z-index: 100;
  width: 100vw;
  top: 0;
}
.header {
  background-image: url("https://s7d1.scene7.com/is/image/dmqualcommprod/getting-personal-with-on-device-ai?$QC_Responsive$&fmt=png-alpha&wid=814");
  width: 100vw;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.main {
  /* margin: 130px 30px 0 30px; */
}
