.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  /* Default styles */
}

.navbar-brand-text {
  font-size: 1.5rem;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff; /* Default background color */
  padding: 10px 0;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #fff;
}

.navbar.light {
  background-color: #fff;
  color: #000; /* Light theme text color */
}

.dropdown-menu.light {
  background-color: #fff;
  color: #000; /* Light theme dropdown text color */
}

.dropdown-item.light:hover {
  background-color: #ddd; /* Light theme dropdown item hover color */
}

.navbar.dark {
  background-color: #333; /* Dark theme background color */
  color: #fff; /* Dark theme text color */
}

.dropdown-menu.dark {
  background-color: #444; /* Dark theme dropdown background color */
  color: #fff; /* Dark theme dropdown text color */
}

.dropdown-item.dark:hover {
  background-color: #555; /* Dark theme dropdown item hover color */
}
